<% layout("/layouts/boilerplate") -%>
<body>
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listings/new">
    <button>Create</button>
  </form> -->
  <% for(let listing of allListings) { %>
  <div class="card" style="width: 18rem">
    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing" />
    <div class="card-body">
      <h5 class="card-title"><%= listing.title %></h5>
      <p class="card-text"><%= listing.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price : <%= listing.price %></li>
      <li class="list-group-item">Location : <%= listing.location %></li>
      <li class="list-group-item">Country : <%= listing.country %></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <% } %>
</body>
